<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="agolFeatureLayerConfig" type="esri.Service.AgolFeatureLayerConfiguration, ESRI.FeatureLayerUpdater"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="ODBC_ConnectionString" providerName="" connectionString="DSN=BostonODBC;uid=esri;pwd=@rcGIS" />
    <remove name="Oracle_ConnectionString" />
    <remove name="SQLServer_ConnectionString" />
  </connectionStrings>
  <appSettings>
    <clear />
    <!-- token can be shared by all updating threads -->
    <add key="Token_Username" value="pjiang_corp" />
    <add key="Token_Password" value="w0rk4ESRI" />
   </appSettings>
  <!-- It is recommended to host each Feature Layer in a separate Feature Service -->
  <!-- srWKID - the Spatial Reference WKID of the table data in the source database -->
  <!-- updateRate - the interval (seconds) in which the hosted feature layer will be updated -->
  <!-- updateMode - optioanl values: GeometryOnly, GeometryAndAttributes, AttributesOnly, NoGeometry, and NoGeometryAndID
                    GeometryOnly [default] - only geometry's change in Database is checked and updated to the Feature Layer
                    GeometryAndAttributes - both geometry's and attributes' changes are checked and updated to the Feature Layer
                    AttributesOnly - only attributes' changes in Database are checked and updated to the Feature Layer
                    NoGeometry - for updating a table without location information to a Feature Table on ArcGIS Online
                    NoGeometryAndID - same as NoGeometry, but no unique ID in the table. NOTE: In this case, the table 
                                      should NOT have any rows added or deleted, but value changes only in the existing 
                                      rows. In addition, do NOT sort the rows in the select SQL statement
  -->
  <!-- agolAdminUrl - for use to change the Feature Service's definition. NOTE: The layer level definition is not changable -->
  <!-- agolLayerUrl - the hosted feature layer's actual REST Url on ArcGIS Online -->
  <!-- selectSQL - Select SQL Statement for use to get data from a table. Please list UniqueID, X, Y fields as the first three 
                   in the SQL Select Statement if the table has location information -->
  <agolFeatureLayerConfig>
    <featureLayers>
      <add name="CRM_Calls"
           srWKID="2249"
           updateRate="300"
           agolAdminUrl="http://services.arcgis.com/8uYRQGewfhbyw9lr/arcgis/admin/services/BostonFeatureService.FeatureServer"
           agolLayerUrl="http://services.arcgis.com/8uYRQGewfhbyw9lr/arcgis/rest/services/BostonFeatureService/FeatureServer/0"
           selectSQL="SELECT CASE_ENQUIRY_ID,X_COORD,Y_COORD,CASE_DESC,OPEN_DATE,CLASS_SUBJECT,CLASS_REASON,CLASSIFICATION,PROP_DESC,CHANNEL,[QUEUE] FROM Boston.dbo.CRM_CallS"/>
      <add name="SnowPlows" 
           srWKID="4326" 
           updateRate="300"
           agolAdminUrl="http://services.arcgis.com/8uYRQGewfhbyw9lr/arcgis/admin/services/BostonFeatureService.FeatureServer"
           agolLayerUrl="http://services.arcgis.com/8uYRQGewfhbyw9lr/arcgis/rest/services/BostonFeatureService/FeatureServer/1"
           selectSQL="SELECT VEHICLE_LABEL,LONGITUDE,LATITUDE,LOCAL_TIME,SEQ_ID,BUILDING_NO,STREET,CITY,ZIP,CROSS_STREET,STOP_DURATION,PVT_TYPE FROM Boston.dbo.SnowPlows WHERE PVT_TYPE!='STOP'"/>
      <add name="PlowsInfo"
           updateRate="300"
           updateMode="NoGeometryAndID"
           agolAdminUrl="http://services.arcgis.com/8uYRQGewfhbyw9lr/arcgis/admin/services/PlowsInfoTable.FeatureServer"
           agolLayerUrl="http://services.arcgis.com/8uYRQGewfhbyw9lr/arcgis/rest/services/PlowsInfoTable/FeatureServer/1"
           selectSQL="SELECT ACTIVE_STORM,SALT_USED,PLOW_HOURS,ACTIVE_VEHICLES FROM Boston.dbo.PLOWS_INFO"/>
    </featureLayers>
  </agolFeatureLayerConfig>
</configuration>